body {
  color: #444;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.event__container {
  text-align: center;
}

.odds-setter {
  font-size: 120px;
  font-weight: 100;
  margin-top: 100px;
}

.exchange {
  margin-top: 30px;
}

.video__container {
  border-top: 1px solid #bbb;
  margin-top: 30px;
  padding-top: 30px;
}

.video-placeholder {
  background-color: #eee;
  height: 400px;
  margin-bottom: 30px;

  &:after {
    display: block;
    content: 'VIDEO';
    font-size: 50px;
    font-weight: 900;
    line-height: 400px;
    text-align: center;
  }
}

.bets-placehlder {
  background-color: #eee;
  height: 350px;
  margin-top: 10px;

  &:after {
    display: block;
    content: 'BETS';
    font-size: 50px;
    font-weight: 900;
    line-height: 350px;
    text-align: center;
  }
}
